.category-select-title-gallery{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2rem;
}
.category-select-gallery-item{
    border: 0.063em solid gray;   
    border-radius: .5em; 
    text-align: center;
}
.category-select-gallery-item-content{
    padding:  1.5em 2.5em 1.5em 2.5em;
}
.category-select-title-box{
    margin-left: 6rem;
    font-size: 2.25em;
}
.category-select-gallery-item:hover{
    background-color: #DB4444;
}
.category-select-title-box-top{
    display: flex;
    gap:1rem;
    font-size: 1.5rem;
}
.category-select-title-box-title-second{
    margin-top: .3rem;
    color: #DB4444;
    font-weight: 300;
}